[alias]
    a = add
    b = branch
    c = commit
    ll = log --pretty=format:\"%h %ad%x09%Cblue%an%x09%Cgreen%s%C(white)%d\" --decorate --date=relative
    lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
    o = checkout
    p = pull
    r = remote -v
    s = status
    sh = stash
    sha = stash apply
    shl = stash list
    shp = stash pop
    u = branch --no-merge master
    w = whatchanged
[color]
	ui = true
[advice]
	statusHints = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[include]
    path = ~/.git-user
    path = ~/.git-jira
[user]
	email = tyler.rash@bronto.com
	name = Tyler Rash
[push]
	default = simple
[difftool "diffpdf"]
    cmd = diff-pdf --view \"$LOCAL\" \"$REMOTE\"
