[alias]
    a = add
    b = branch
    c = commit
    ll = log --pretty=format:\"%h %ad %Cblue%an %C(yellow)%s%d\" --decorate --date=relative
    o = checkout
    p = pull
    r = remote -v
    s = status
    sh = stash
    sha = stash apply
    shl = stash list
    shp = stash pop
    u = branch --no-merge master
    w = whatchanged
[color]
	ui = true
[advice]
	statusHints = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[include]
    path = ~/.git-user
    path = ~/.git-jira
