[alias]
    ad = add
    br = branch
    cm = commit
    co = checkout
    ll = log --pretty=format:\"%h  %ad  %<(18)%Cblue%an %<(60,trunc) %Cgreen%s%C(white)%d\" --decorate --date=short
    mr = merge
    pl = pull
    r = remote -v
    sh = stash
    st = status
    sha = stash apply
    shl = stash list
    shp = stash pop
    u = branch --no-merge master
    w = whatchanged
    release-notes = "!sh -c 'git log $(git rev-parse --abbrev-ref HEAD) --no-merges --not master | ~/release_notes' -"
[color]
	ui = true
[advice]
	statusHints = false
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[include]
    path = ~/.git-user
    path = ~/.git-jira
[user]
	email = tyler@rashmail.com
	name = Tyler Rash
[push]
	default = current
[difftool "diffpdf"]
    cmd = diff-pdf --view \"$LOCAL\" \"$REMOTE\"
[http]
	sslVerify = false
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[includeIf "gitdir:~/work/"]
    path = ~/dotfiles/.gitconfig-doma
